@model List<UserRolesEdit>
@{
    ViewData["Title"] = "AssignRole";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">@ViewBag.username' in vəzifəsi</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    @for(int i =0; i < Model.Count; i++ )
                    {
                        <div class="form-check">
                            <input type="hidden" asp-for="@Model[i].RoleId" />
                            <input type="hidden" asp-for="@Model[i].RoleName" />
                            <input type="checkbox" class="form-check-input" asp-for="@Model[i].RoleExist" />
                            <label class="form-check-label" for="@Model[i].RoleExist">@Model[i].RoleName</label>
                        </div>
                    }
                    <br />
                    <button type="submit" class="btn btn-outline-warning">Yadda saxla</button>
                    <a href="javascript:history.back()" class="btn btn-outline-danger">Geri qayıt</a>
                </form>
            </div>
        </div>
    </div>
</div>