@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;
@model IPagedList<GetDestinationsForStrangersQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var a = 1;
}

<div class="card" style="padding: 5px;">
    <h5 class="card-header">CQRS Turlar()</h5>
    <a href="/Admin/AdminDestinationCQRS/CreateDestination" class="btn btn-outline-warning">Yeni tur</a>
    <div class="table-responsive mt-4 text-nowrap">
        <div class="search">
            <form type="post" action="/Admin/AdminDestinationCQRS/Index">
                <input placeholder="Axtar." name="Destination" type="search" />
                <button class="btn btn-primary" type="submit">Axtar</button>
            </form>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Şəhər</th>
                    <th>Vaxt</th>
                    <th>Qİymət(AzN)</th>
                    <th>Yer</th>
                    <th>Parametrlər</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@a</strong></td>
                        <td>@item.City</td>
                        <td>@item.DayNight</td>
                        <td>@item.Price ₼</td>
                        <td>@item.Capacity</td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="AdminDestinationCQRS" asp-action="GetDestination" asp-route-id="@item.DestinationId" asp-area="Admin"><i class="bx bx-edit-alt me-1"></i> Güncəllə</a>
                                    <a class="dropdown-item" asp-controller="AdminDestinationCQRS" asp-action="RemoveDestination" asp-route-id="@item.DestinationId" asp-area="Admin"><i class="bx bx-trash me-1"></i> Sil</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    a++;
                }
            </tbody>
        </table>
    </div>
    <div class="container mt-4">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
        {
        DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
        DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        LinkToFirstPageFormat = "<<",
        LinkToPreviousPageFormat = "<",
        LinkToNextPageFormat = ">",
        LinkToLastPageFormat = ">>",
        MaximumPageNumbersToDisplay = 5,
        ContainerDivClasses = new[] { "pagination", "justify-content-center" },
        UlElementClasses = new[] { "pagination" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
        })
    </div>
</div>

