@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;
@model IPagedList<ApiMovie>
@{
    ViewData["Title"] = "Index";
    var a = 1;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card" style="padding: 5px;">
    <h5 class="card-header">Top 100 film</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ad</th>
                    <th>Reytinq(IMDB)</th>
                    <th>İl</th>
                    <th>Fraqman</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.rank</strong></td>
                        <td>@item.title</td>
                        <td>@item.rating</td>
                        <td>@item.year</td>
                        <td>
                            <iframe allowfullscreen="true" class="video" width="200" height="100"
                                    src="@item.trailer">
                            </iframe>
                        </td>
                    </tr>
                    a++;
                }
            </tbody>
        </table>
    </div>
    <div class="container mt-4">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
        {
        DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
        DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        LinkToFirstPageFormat = "<<",
        LinkToPreviousPageFormat = "<",
        LinkToNextPageFormat = ">",
        LinkToLastPageFormat = ">>",
        MaximumPageNumbersToDisplay = 5,
        ContainerDivClasses = new[] { "pagination", "justify-content-center" },
        UlElementClasses = new[] { "pagination" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
        })
    </div>
</div>

