@using EntityLayer.Concrete
@model List<Reservation>
@{
    ViewData["Title"] = "MyReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["page"] = "activetour";
    var z = 1;
}
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Aktiv rezervasiyalar</h6>
                <hr />
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    @if (Model.Count == 0)
                    {
                        <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
                            <strong>Bu hissədə hələki məlumat yoxdur!</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    else
                    {

                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Şəhər</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Vaxt</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tutum</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">@z</span>
                                        </th>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div>
                                                    @*<img src="~/Traversal-Liberty/assets/images/@item.Image" class="avatar avatar-sm me-3" alt="user2">*@
                                                </div>
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">@item.Destination.City</h6>
                                                    <p class="text-xs text-secondary mb-0">@item.Description</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">@(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">@item.PersonCount</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">@item.Status</span>
                                        </td>
                                    </tr>
                                    z++;
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>