@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var a = 1;
}
@if (TempData["userdelete"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            swal("Silindi!", 'Seçmmiş olduğunuz hesab sistemdən uğurla silindi', "success");
        };
    </script>
}
<div class="card">
    <h5 class="card-header">İstifadəçilərin siyahısı</h5>
    <a href="/Account/SignUp" class="btn bn-outline btn-primary">Yeni istifadəçi</a>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tam ad</th>
                    <th>İstİfadəçİ adı</th>
                    <th>Emaİl</th>
                    <th>Tur tarİxİ</th>
                    <th>Parametrlər</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@a</strong></td>
                        <td>@item.Name @item.Surname</td>
                        <td>@item.UserName</td>
                        <td>@item.Email</td>
                        <td><a asp-controller="AdminUser" asp-action="ReservationUser" asp-route-id="@item.Id" asp-area="Admin"><i class="bx bx-revision"></i></a></td>
                        <td>
                            <a asp-controller="AdminUser" asp-action="Edit" asp-route-id="@item.Id" asp-area="Admin"> <i class="bx bx-edit-alt"></i> </a> |
                            <span id="deleteSpan_@item.Id">
                                <a onclick="confirmDelete('@item.Id',true)"><i class="bx bxs-trash text-danger"></i></a>
                            </span>
                            <span id="confirmDeleteSpan_@item.Id" style="display: none;">
                                <span>Əminsinizmi?</span>
                                <a asp-controller="AdminUser" asp-action="Delete" asp-route-id="@item.Id" asp-area="Admin"><i style="color: red;" class="bx bxs-trash text-danger"></i></a> |
                                <a onclick="confirmDelete('@item.Id',false)"><i style="color: green;" class="bx bx-window-close"></i></a>
                            </span>
                        </td>
                    </tr>
                    a++;
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/js/site.js"></script>
